

body {
    background: url("../rec/image/img0.webp") repeat-y;
    background-size: 100%;
    text-align: center;
    overflow-x: hidden;
}

.container {
    margin: 5% 2%;
    background-color: #6497e470;
    padding: 2%;
    border-radius: 10px;
}

.texts {
    float: left;
    width: 580px;
    text-align: left;
    animation: colorAnmt 6s infinite;
    position: relative;
    z-index: 2;
}

a {
    color: inherit;
    font-size: 20px;
    background-color:#29f5;
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 20px;
}

@keyframes colorAnmt {
    0% {
        color: #0f0;
    }

    33% {
        color: #ff0;
    }

    66% {
        color: #00f;
    }

    100% {
        color: #0f0;
    }
}

.gif_bgm_rapper {
    float: right;
    width: 300px;
}

.goGif {
    width: 300px;
    border-radius: 10%;
    position: relative;
    z-index: 1;
}

#bgm{
    display: none;
}

.middleImg {
    height: 95%;
    width: 95%;
    margin-bottom: 20px;
    border: #2d7cb9 10px solid;
    border-radius: 5%;
}