body {
    height: 100%;
    background: url("../rec/image/img0.webp") repeat-y;
    background-size: 100%;
    text-align: center;
    overflow-x: hidden;
}

/* gif和文字移动效果 */
.gif_texts_wrapper {
    height: 200px;
    width: 92%;
    position: relative;
    margin: 5% 2% 0 2%;
    background-color: #6497e470;
    padding: 2%;
    border-radius: 50px;
    overflow: hidden;
}
.gif_texts_wrapper_movable {
    position: relative;
    height: 100%;
    width: 100%;
    margin-left: 110%;
}
.goGif {
    height: 100%;
    display: inline;
    border-radius: 10%;
    float: left;
}
.texts {
    display: inline;
    float: left;
    width: auto;
    text-align: left;
    animation: colorAnim 6s infinite;
    margin-left: 2%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}
/* 文字颜色渐变动画 */
@keyframes colorAnim {
    0% {
        color: #0f0;
    }

    33% {
        color: #ff0;
    }

    66% {
        color: #00f;
    }

    100% {
        color: #0f0;
    }
}
/* 隐藏默认音乐标签 */
#bgm {
    display: none;
}
/* 自定义音乐播放开关 */
#audio_ctrl_btn {
    margin: 10px;
    height: 30px;
    border-radius: 20px;
    background: #3ba4ff;
    line-height: 30px;
    color: white;
    white-space: pre;
}
#audio_ctrl_btn:hover {
    background: #77bbff;
}

.middleImg {
    height: 95%;
    width: 95%;
    margin-bottom: 20px;
    border: #2d7cb9 10px solid;
    border-radius: 5%;
}